# The order of packages is significant, because pip processes them in the order
# of appearance. Changing the order has an impact on the overall integration
# process, which may cause wedges in the gate later.

pbr!=2.1.0,>=2.0.0 # Apache-2.0
Babel!=2.4.0,>=2.3.4 # BSD
etcd3gw>=0.1.0 # Apache-2.0
cassandra-driver!=3.6.0,>=2.1.4 # Apache-2.0
kazoo>=2.2 # Apache-2.0
ovs>=2.7.0 # Apache-2.0
pyzmq>=14.3.1 # LGPL+BSD
ryu>=4.14 # Apache-2.0
SQLAlchemy!=1.1.5,!=1.1.6,!=1.1.7,!=1.1.8,>=1.0.10 # MIT
alembic>=0.8.10 # MIT
neutron-lib>=1.9.0 # Apache-2.0
oslo.config!=4.3.0,!=4.4.0,>=4.0.0 # Apache-2.0
oslo.db>=4.24.0 # Apache-2.0
oslo.i18n!=3.15.2,>=2.1.0 # Apache-2.0
oslo.log>=3.30.0 # Apache-2.0
oslo.reports>=0.6.0 # Apache-2.0
oslo.serialization!=2.19.1,>=1.10.0 # Apache-2.0
ovsdbapp>=0.4.0 # Apache-2.0
crc16>=0.1.1 # LGPLv3+
netaddr!=0.7.16,>=0.7.13 # BSD
six>=1.9.0 # MIT
httplib2>=0.7.5 # MIT
WebOb>=1.7.1 # MIT
jsonmodels>=2.1.3 # BSD License (3 clause)

