# The order of packages is significant, because pip processes them in the order
# of appearance. Changing the order has an impact on the overall integration
# process, which may cause wedges in the gate later.

pbr>=1.6 # Apache-2.0
Babel>=2.3.4 # BSD
kazoo>=2.2 # Apache-2.0
ovs>=2.5.0;python_version=='2.7' # Apache-2.0
ovs>=2.6.0.dev1;python_version>='3.4' # Apache-2.0
pyzmq>=14.3.1 # LGPL+BSD
ryu!=4.1,!=4.2,>=3.30 # Apache-2.0
SQLAlchemy<1.1.0,>=1.0.10 # MIT
alembic>=0.8.4 # MIT
oslo.config>=3.9.0 # Apache-2.0
oslo.db>=4.1.0 # Apache-2.0
redis>=2.10.0 # MIT
